<div class="educacion">
  <h4>Educación</h4>
  <div class="lista">
    <ul>
      <li><h5>Yo Programo | Noviembre 2022 - Mayo 2023</h5>
      <h6>Curso de formación para programadores</h6>
      <p>Realicé las dos etapas de Argentina Programa, un curso de formación para programadores donde se aprenden todas las bases para ser un programador fullstack junior. Entre los contenidos vistos están Typescript, Javascript, Java, bases de datos SQL y NoSQL, entre otros.</p>
    </li>
      <li><h5>Skill Factory de NODE.js | Junio 2022 - Octubre 2022</h5>
      <h6>Skill Factory de la empresa Avalith</h6>
      <p>Curso de NODE.js donde además aprendimos las bases de Javascript y soft skills.</p></li>
      <li><h5>Diseño e integración web HTML5 + CSS | Julio 2022 - Agosto 2022</h5>
        <h6>Curso dictado por la Red Internacional de Educación para el Trabajo</h6>
        <p>Curso de HTML5 y CSS donde pude poner a prueba mis conocimientos de HTML y CSS hasta la fecha y actualizarlos.</p></li>
      </ul>
      </div>
</div>
