img{
  width: 6em;
  justify-content: center;
}

.container{
  columns: 3;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.about{
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
