<div class="experiencia">
  <h4>Experiencia</h4>
  <div class="lista">
  <ul>
    <li><h5>Alice Laura Models | Julio 2022 - Enero 2023</h5>
    <h6>Asistente Ejectutiva</h6>
    <p>Empresa dedicada a el reclutamiento de modelos y que ofrece sus servicios a distintos rubros. Como Asistente Ejecutiva, realizaba tareas relacionadas con el mantenimiento de la página web, la actualización de datos de las modelos, negociación y trato con los clientes, administración de finanzas, búsqueda de nuevos modelos y clientes, entre otras. Además me encargaba de diseñar publicaciones para redes sociales y community management.</p>
  </li>
    <li><h5>Quiero un iPhone | Marzo 2023 - Actualidad</h5>
    <h6>Asistente Ejecutiva</h6>
    <p>Emprendimiento familiar donde asisto con tareas de marketing, diseño de publicaciones, logos, historias, entre otras. Estoy a cargo de formular y llevar a cabo nuevas estrategias de marketing. Además con mis conocimientos de diseño me dedico a la realización de flyers, posters, logos, y más.</p></li>
    </ul>
    </div>
</div>
