<div class="skills">
  <h4>Skills</h4>
  <div class="row">
    <circle-progress
    [percent]="90"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'HTML'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
<circle-progress
    [percent]="95"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'CSS'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
<circle-progress
    [percent]="80"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'Javascript'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
<circle-progress
    [percent]="85"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'MySQL'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
<circle-progress
    [percent]="75"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'Angular'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
<circle-progress
    [percent]="65"
    [radius]="80"
    [showUnits]="true"
    [showSubtitle]="true"
    [subtitle]="'Java'"
    [subtitleFontSize]="'18'"
    [subtitleColor]="'#444444'"
    [subtitleFontWeight]="'700'"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#1e7866'"
    [outerStrokeGradientStopColor]="'#15d6b0'"
    [outerStrokeWidth]="10"
    [showInnerStroke]="false"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="false"
    [responsive]="true"
></circle-progress>
  </div>
</div>
